@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Global Styles */

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease;
}

body {
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #070707;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    height: 70px;
}

#header .logo {

    width: 130px;

    margin-top: 4px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;

}

#navbar li a {
    text-decoration: none;
    font-size: 15 px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s ease;
}

/* Here active selector is saying that when we click on the link link become active */
#navbar li a:hover,
#navbar li a.active {
    color: #acf8f4;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #acf8f4;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


#mobile{
    display: none;
    align-items: center;

}

#hero {
    background-image: url("img/back.jpg");
    height: 92vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 20px 0px 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* for y direction */
    justify-content: center;
    /* for x direction */
}

#hero div {
    width: 500px;
    line-height: 60px;
    margin-top: 20px;
    text-align: center;
}

#hero h1 {

    color: #035a54;

}

#hero div p {
    font-size: 75px;
}

#hero h4 {
    line-height: 30px;
}

#feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d8;
    margin: 15px 0;
    transition: 0.3s ease;
}

#feature .fe-box img {
    /* To make image responsive */
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box:hover {
    box-shadow: 0px 0px 30px rgba(4, 4, 4, 0.2);
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;

}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}









/* courses */
#product1 {
    text-align: center;

}

#product1 .pro {
    width: 23%;
    height: 330px;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 0px 0px 30px rgba(4, 4, 4, 0.3);
}


#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro img {

    width: 100%;
    height: 180px;
    border-radius: 20px;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;

}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .des a {
    text-decoration: none;
}

#product1 .pro-container {
    display: flex;

    justify-content: space-evenly;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro2-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    flex-wrap: wrap;

}





#newsletter {
    display: flex;
    
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("img/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4 {
    text-align: center;
    font-size: 22px;
    line-height: 35px;
    font-weight: 700;
    color: #fff;
    
}


#newsletter .newstext{
    margin: 0 50px 0 50px;
}




footer {
    height: 10px;
    margin-bottom: 15px;
}


footer p {
    text-align: center;
    font-size: 13px;
    margin: 0 0 5px 0;
}


footer .copyright {
    width: 100%;
    text-align: center;
}






/* //courses */
/* #page-header{
    background-image: url(img/courses.avif);
    width: 100%;
    height: 45vh;
    block-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}


#page-header h2
{   padding-top: 55px;
    font-size: 60px;
    color: #035337ec;
} */

#mnc-banner {
    background-image: url(img/courses.png);
    width: 100%;
    height: 39vh;
    block-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}


#mnc-banner h2 {
    padding-top: 55px;
    font-size: 60px;
    color: #035337ec;
}


#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;

}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}










#about-head {
    margin-top: 52px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#about-head h2 {
    color: #088178;
}

#about-head p {
    line-height: 20px;
    font-weight: 600;

}

#about-head img {

    width: 50%;
    height: auto;

}

#about-head div {
    padding-left: 40px;
}





#form-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding-top: 80px;
    margin: 80px 250px 0px 250px;
    border: 1px solid #818181;
}

#form-details form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    

}

#form-details span {
    font-size: 19px;
    
    text-align: center;
    display: inline;
}

#form-details h2 {
    font-size: 30px;
    line-height: 35px;
    padding: 20px 0;
    text-align: center;
    display: inline;
}

#form-details marquee{
    padding: 5px 0 5px 0;
    font-size: 15px;
}


#form-details form input,
#form-details form textarea {
    width: 500px;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #d1d1d1;
}



#form-details form button {
    background-color: #088178;
    color: #fff;
    font-size: 15px;
    margin-bottom: 25px;
}



#close{
    display: none;
}




/* media query */
@media(max-width:799px){
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top:0;
        right:-300px ;
        height: 100vh;
        width: 300px;
        background-color: #2d2d2d;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding:80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #navbar.active{
        right:0;
    }
    #mobile{
        display: flex;
        align-items: center;
    
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        text-decoration: none;
        position: absolute;
        top: 30px;
        left: 30px;
        color: white;
        font-size: 24px;
    }

    #hero {
        
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 37px;
        

    }
    #hero div{
        width: 250px;
        
    }
    
    #product1 .pro {
        width: 45%;
    }    
    .section-p1 {
        padding: 40px 62px;
    }

    #mnc-banner {
        
        height: 36vh;
        block-size: cover;
        
    }
    #mnc-banner h2 {
        padding-top: 8px;
        font-size: 60px;
        color: #035337ec;
    }

    #about-head {
        margin-top: -35px;
        margin-bottom: -35px;
        flex-direction: column;
       
    }

    #about-head div {
        text-align: center;
        padding-left: 0;
        padding-top: 36px
    }

    #about-head img {
        width: 534px;
        height: 350px;
    }

    #form-details h2, #formdetails span {
        width: 100%;
        padding: 12px 15px;
        outline: none;
        margin-bottom: 20px;
    }

    #form-details {
        
        padding-top: 49px;
        margin: 3px 105px 0px 105px;
        
    }
    #form-details form input, #form-details form textarea {
        width: 90%;
        
    }
    
}

@media(max-width:480px){
    #header{
        padding: 20px 21px;
    }
    #hero {
       
        padding: 0 9px;
    }
    #hero h1{
        
            font-size: 37px;
            
    }
    #feature {
        
        justify-content: center;
        
    }
    
    #newsletter .newstext {
        margin: 0;
    }

    #mnc-banner h2{
        font-size: 35px;
    }
    
    #form-details {
        padding-top: 49px;
        margin: 3px 0px 0px 0px;
    }

    #form-details h2 ,
    #form-details{
        font-size: 20px;
        
        padding: 20px 10px;
        
        text-align: center;
        width: 100%;
    }

    #form-details form input, #form-details form textarea {
        width: 100%;
        
    }

    #form-details {
        
        border: 0px ;
    }
    #about-head img {
        width: 100%;
        height: 350px;
    }
    #about-head {
        margin-top: 30px;
        margin-bottom: 0px;
        flex-direction: column;
        padding: 0;
    }
    #about-head p {
        padding: 0 20px 0 20px;
    }
    
    #about-head marquee p{
        font-size: 15px;
        margin: 6px 0 6px 0 ;
    }
}

